.home {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    justify-content: center;
    height: 900px;
    overflow: hidden;

    &__navbar {
        max-width: 90%;
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        margin-left: 12px;
    }
    &__filter {
        margin:auto;

        background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden; 
    }
    &__restors{
        padding-top: 10px;
        margin: 0px auto;
    }
}