.restor-open {
  width: 90%;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.restor-open__main {
  overflow-y: scroll;
  height: 800px;
}
.restor-open__rating-reviews {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.restor-open__rating-reviews img {
  margin-left: 20px;
  margin-right: 10px;
  height: 20px;
  width: 20px;
}
.restor-open__address-schedule {
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.restor-open__address-schedule p {
  margin-top: 1px;
  margin-bottom: 5px;
}
.restor-open__title {
  font-family: SF Pro Rounded;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
}
.restor-open__subtitle {
  margin-top: 7px;
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;
  opacity: 0.5;
}
.restor-open__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "SF Pro Rounded";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  color: #000000;
  opacity: 0.9;
}
.restor-open__tag1 {
  margin: 10px;
  width: 90px;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 7px;
  background: rgba(255, 0, 34, 0.7);
  border-radius: 30px;
  text-align: center;
  line-height: 30px;
}
.restor-open__tag2 {
  margin: 10px;
  width: 90px;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 7px;
  background: rgba(251, 177, 60, 0.7);
  border-radius: 30px;
  text-align: center;
  line-height: 30px;
}