.menu {
    &__title {
        font-family: SF Pro Rounded;
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
    }
    &__dish {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}