.cart{
    margin: 20px auto;

    &__title{
        font-family: 'SF Pro Text';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 33px;
        text-align: center;

        color: #FFFFFF;
        margin-bottom: 20px;
    }
    &__cart-restors {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 900px;
    }
    &__cart-restors_scroll {
        overflow-y: scroll;
    }
    &__cart-restor {
        margin-top: 10px;
    }
}