.cart-restor {
  width: 665px;
  height: 395px;
  margin-top: 15px;
  background: #FFFFFF;
  -webkit-box-shadow: 5px 5px 20px 5px rgba(57, 57, 57, 0.15);
          box-shadow: 5px 5px 20px 5px rgba(57, 57, 57, 0.15);
  border-radius: 12px;
}