.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin: 20px auto;
}
.cart__title {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 24px;
  margin-bottom: 10px;
}
.cart__cart-restors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 91%;
}
.cart__cart-restors_scroll {
  overflow-y: scroll;
}
.cart__cart-restor {
  margin-top: 10px;
}