.app{
    background: #6247AA;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &__tapbar{
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
    }
    &__body{
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 12;
    }
}