.favor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 97vh;

    &__left {
        display: flex;
        flex-direction: column;
        margin: 15px;
        flex: 4;
    }
    &__right {
        display: flex;
        flex-direction: column;
        margin: 15px;
        flex: 8;
    }
    &__restorOpen_in {
        box-shadow: 5px 5px 20px 5px rgba(57, 57, 57, 0.15);
        border-radius: 12px;
        background: white;
        width: 90%;
        height: 95vh;
    }
    &__search {
        margin: 0 auto;
    }
}