.restor {
    height: 144px;
    width: 96%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;

    background: #FFFFFF;
    box-shadow: 5px 5px 20px 5px rgba(57, 57, 57, 0.15);
    border-radius: 12px;

    &__img-column {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 4;
        height: 80%;

        margin-top: 6px;
        margin-left: 12px;
        margin-bottom: 12px;
        margin-right: 6px;
        overflow:hidden;
    }
    &__img-column img{
        object-fit: cover;
        height: 100%;
    }
    &__info-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-basis: 100%;
        flex: 6;
        height: 80%;

        margin-top: 12px;
        margin-right: 12px;
        margin-left: 6px;
        margin-bottom: 12px;
    }
    &__title {
        font-family: SF Pro Rounded;
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 101.34%;

        color: #000000;

        opacity: 0.9;
    }
    &__rating {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:baseline;
    }
    &__rating img{
        margin-right: 10px;
    }
    &__metro {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:baseline;
        margin-left: 10px;
        margin-top: 10px;
        justify-content: center;
    }
    &__metro img {
        margin-right: 10px;
    }
    &__tag {
        margin: 10px;
        width: 90px;
        height: 30px;

        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 7px;

        background: #6247AA;
        border-radius: 30px;

        text-align: center;
        line-height: 30px;
    }
    &__tag-text {
        text-align: center;
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 14px;
        color: #FFFFFF;
    }
}